<li id="post-<%=post._id%>">
    <p>
     <%  if(locals.user && (locals.user.id == post.user.id)) {%>
       <small>
       <a class="delete-post-button" href="/posts/destroy/<%= post.id%>">X</a>
       </small>

       <%}%>
       <%= post.content %>
       <br>
   
       <small>
          <%= post.user.name %>
       </small>
          <!-- CHANGE :: display the likes of this post, if the user is logged in, then show the link to toggle likes, else, just show the count -->
          <br>
          <!-- study about the data attribute -->
      <small>
          <% if (locals.user){ %>
              <a class="toggle-like-button" data-likes="<%= post.like.length %>" href="/like/toggle/?id=<%=post._id%>&type=Post">
                      <%= post.like.length %> Likes
              </a>
          <% }else{ %>
              <%= post.like.length %> Likes
          <% } %>
      </small>
       
    </p>

    <div class="post-comments">
               <%if(locals.user){ %>
                <form action="/comment/create" method="POST">
                    <input type="text" name="content" placeholder="Type here to add comment...">
                    <input type="hidden" name="post" value="<%= post._id%>">
                    <input type="submit" value="Add Comment">
                </form>      



               <%}%>


               <div id="post-comment-list">
                    <ul id="post-comment-<%=post._id%>">
                        

                   <% for( comment of post.comment){ %>

                         <%- include('_comments') -%>
                       <%}%>

                    </ul>

               </div>
    </div>
 
   </li>